ALTER TABLE subject ADD COLUMN sectionId INT NULL; ALTER TABLE subject ADD CONSTRAINT Subject_sectionId_fkey FOREIGN KEY (sectionId) REFERENCES section(id) ON DELETE SET NULL ON UPDATE CASCADE; CREATE INDEX Subject_sectionId_fkey ON subject(sectionId);
